/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER SECTION
#NAVBAR SECTION
#SLIDER SECTION
#PROMO SECTION
#PRODUCT SECTION
#BANNER SECTION
#POPULAR SECTION
#SUPPORT SECTION
#LATEST BLOG SECTION
#CLIENT BRAND SECTION

#PRODUCT PAGE
#PRODUCT DETAILS PAGE
#CART VIEW PAGE
#CHECKOUT PAGE
#MY ACCOUNT  PAGE
#BLOG ARCHIVE  PAGE
#BLOG DETAILS  PAGE
#CONTACT  PAGE
#ERROR  PAGE
#FOOTER SECTION
#RESPONSIVE DESIGN
*/

/* BASE - Base tyles, Variables, Mixins, etc. */
html {
	width: 1080px;
	height: 1920px;
	overflow-x: scroll;
}

body {
  width: 1080px;
  margin: 0px;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 16px;
  overflow: hidden;
}


ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;
}
img {
  border: none;
}
button {
	border: 0px;
}



/*

Top(Header) Part

*/

#header {
	background-color: #519d9e;
	width: 1080px;
	height: 360px;
}
#header .title {
	width: 1080px;
	height: 200px;
	position: relative;
}
#header .title .big-title {
	position: relative;
	top: 50px;
	left: 70px;
	height: 54px;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -.483333px;
}
#header .title .small-title {
	position: relative;
	top: 54px;
	left: 70px;
	height: 38px;
	color: #ffffff;
	font-size: 34px;
	font-weight: 500;
	letter-spacing: -.483333px;
}
#header .category {
	background-color: transparent;
	width: 1080px;
	height: 80px;
	float: left;
}
#header .category li {
	float: left;
}
/* 수정된 부분 */
#header .category li .category-button {
	display: inline-block;

	border-width: 1px;
	background-color: #e4e7e8;
	width: 270px;
	height: 80px;
	margin: 0px;
	

	vertical-align: middle;
	color: #b1b1b1;
	font-size: 30px;
	font-weight: 500;
}
#header .find {
	background-color: #f0f3f4;
	width: 1080px;
	height: 80px;
}
#header .find .search-box {
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #ffffff;
	width: 700px;
	height: 60px;
	position: relative;
	top: 10px;
	left: 190px;

	font-family: Noto Sans CJK KR;
	font-size: 24px;
	font-weight: 500;
	color: #555;
	text-align: center;
}
#header .find .search-button {
	border-width: 2px;
	border-radius: 10px;
	background-color: #e4e7e8;
	height: 50px;
	width: 80px;
	position: relative;
	top: 6px;
	left: 100px;
}
#header .find .search-button img {
	width: 32px;
	height: 32px;
}

/*

Middle(Product) Part

*/

#product {
	width: 1080px;
	height: 1150px;
	background-color: #f0f3f4;
}
#product .menu {
	width: 1080px;
	height: 60px;
	background-color: #9dc7c8;
	overflow: auto;
}
#product .menu li {
	float: left;
}
#product .menu li .menu-button {
	display: inline-block;
	border-width: 1px;
	background-color: transparent;
	width: 135px;
	height: 60px;

	text-align: center;
	overflow: hidden;
	font-size: 26px;
	font-weight: 500;
}
#product .menu a {
	color: #f2efef;
	overflow: hidden;
	white-space: nowrap;
}
 /* Product Contents */
/* 난 map을 쓰기떄문에 전체를 만들고 안에 넣어야함 */
#product .box{
	
	width: 1080px;
	height: 1090px;
	overflow-y: auto;

	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
/* #product .container {
	이건 귀찮으니 나중에하죠
	

} */ 
#product .container .item {
	float: left;
	width: 300px;
	height: 350px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	margin: 10px;
}
#product .container .item .item-image {
	float: auto;
	height: 240px;
	width: 280px;
	margin: auto;
	padding: auto;
	background-color: transparent;

}
#product .container .item .lookdetail {
	
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 10px;
	background-color: #e4e7e8;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}
#product .container .item .description {
	padding-top: 10 px;
	height: 80px;
	margin-right: 20 px;
}
#product .container .item .description .name {
	font-size: 16px;
	font-weight: 700;
	color: #303336;
	position: auto;
	text-align: left !important;
	margin-right: 30px;
	overflow: auto;
	
}
#product .container .item .description .price {
	font-weight: 500;
	color: #7b8591;
	position: auto;
	text-align: right;
	left: 90px;
}

/*
 
Bottom(Cart) Part
 
*/


#cart {
	width: 1080px;
	height: 410px;

	bottom: 0px;
	font-size: 26px;
}
#cart .cart-top {
	height: 66px;
	background-color: #9dc7c8;
}
#cart .cart-top .orderlist {
	margin-left: 62px;
	padding-top: 17px;
}
#cart .cart-top .orderlist .title {
	width: 280px;
	float: left;
}
#cart .cart-top .orderlist .count {
	width: 149px;
	float: left;
}
#cart .cart-top .orderlist .price {
	width: 200px;
	margin-left: 16px;
}
#cart .cart-top .cancel-button {
	border: 0px;
	background-color: #f0f3f4;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .16);
	width: 180px;
	height: 50px;

	text-align: center;
	font-size: 26px;
	font-weight: 500;
	color: #000000;

	position: absolute;
	top: 1518px;
	left: 840px;
}
#cart .body {
	background-color: #e4e7e8;
	width: 1080px;
	height: 344px;
	overflow-y: scroll;
}
#cart .body .cartlist {
	height: 30px;
	font-size: 26px;

	padding-top: 20px;
	padding-bottom: 10px;
	margin-left: 62px;
}
#cart .body .cartlist .title {
	width: 380px;
	float: left;
	color: #555555;
}
#cart .body .cartlist .decrease-button {
	width: 33px;
	height: 33px;
	border-radius: 10px;
	background-color: #555555;
	float: left;
	text-align: center;
	font-size: 20px;
}
#cart .body .cartlist .count {
	width: 50px;
	float: left;
	color: #1c7374;
	text-align: center;
}
#cart .body .cartlist .increase-button {
	width: 33px;
	height: 33px;
	border-radius: 10px;
	background-color: #555555;
	float: left;
	text-align: center;
	font-size: 20px;
}
#cart .body .cartlist .price {
	width: 150px;
	float: left;
	text-align: right;
	color: #1c7374;

	padding-right: 30px;
}
#cart .body .cartlist .cancel-button {
	width: 33px;
	height: 33px;
	background-color: #555555;
	border-radius: 10px;
	box-shadow: outset 0 1px 2px rgba(0, 0, 0, .16);
}

#cart .body .purchase-box{
	width: 840px;
	height: 344px;


}
#cart .body .purchase-button {
	border: 0px;
	background-color: #519d9e;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .16);
	width: 180px;
	height: 275px;

	text-align: center;
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;

	position: absolute;
	top: 1608px;
	left: 840px;
}
#cart .body .purchase-button img {
	width: 100px;
}
