<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PET KIOSK AINDUSTRIES</title>
    
    <link href="css/style.css" rel="stylesheet">    
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>
  
  %<section id="product">
	  <div class="menu">
		  Hello Menu
	  </div>
	  <div class="container">
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
		  <div class="item">
			  <div class="image">
				  pic 1
			  </div>
			  <div class="description">
				  <div class="name">
					  고양이 움직이는 침대 휴식
				  </div>
				  <div class="price">
					  19,000원
				  </div>
			  </div>
		  </div>
	  </div>

  </section>

  <!-- Cart -->  
  <section id="cart">
	  <div class="cart-top">
		  <div class="cancel-button">
			  전체취소
		  </div>
	  </div>
	  <div class="body">
		  <div class="purchase-button">
			  결제하기
		  </div>
	  </div>
  </section>

  </body>
</html>
