/* Table of Content
==================================================
SECTION:
	header
	product
	cart
*/

/* BASE - Base tyles, Variables, Mixins, etc. */
html {
	width: 1080px;
	height: 1920px;
	overflow-x: scroll;
}

body {
  width: 1080px;
  margin: 0px;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 16px;
}
ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;
}
img {
  border: none;
}
button {
	border: 0px;
}



/*

Top(Header) Part

*/

#header {
	background-color: #519d9e;
	width: 1080px;
	height: 360px;
}
#header .title {
	width: 1080px;
	height: 200px;
	position: relative;
}
#header .title .big-title {
	position: relative;
	top: 50px;
	left: 70px;
	height: 54px;
	color: #ffffff;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: -.483333px;
}
#header .title .small-title {
	position: relative;
	top: 54px;
	left: 70px;
	height: 38px;
	color: #ffffff;
	font-size: 34px;
	font-weight: 500;
	letter-spacing: -.483333px;
}
#header .category {
	background-color: transparent;
	width: 1080px;
	height: 80px;
	float: left;
}
#header .category li {
	float: left;
}
#header .category li .category-button {
	display: inline-block;
	border-width: 1px;
	background-color: #e4e7e8;
	width: 270px;
	height: 80px;

	text-align: center;
	color: #b1b1b1;
	font-size: 30px;
	font-weight: 500;
}
#header .find {
	background-color: #f0f3f4;
	width: 1080px;
	height: 80px;
}
#header .find .search-box {
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #ffffff;
	width: 700px;
	height: 56px;
	position: relative;
	top: 10px;
	left: 190px;

	font-family: Noto Sans CJK KR;
	font-size: 24px;
	font-weight: 500;
	color: #555;
	text-align: center;
}
#header .find .search-button {
	border: solid #b1b1b1;
	border-width: 2px;
	border-radius: 4px;
	background-color: transparent;
	height: 50px;
	width: 80px;
	position: relative;
	top: 18px;
	left: 100px;
}
#header .find .search-button img {
	width: 32px;
	height: 32px;
}

/*

Middle(Product) Part

*/

#product {
	width: 1080px;
	height: 1150px;
	background-color: #f0f3f4;
}
#product .menu {
	width: 1080px;
	height: 60px;
	background-color: #9dc7c8;
	overflow: auto;
}
#product .menu li {
	float: left;
}
#product .menu li .menu-button {
	display: inline-block;
	border-width: 1px;
	background-color: transparent;
	width: 135px;
	height: 60px;

	text-align: center;
	overflow: hidden;
	font-size: 26px;
	font-weight: 500;
}
#product .menu a {
	color: #f2efef;
	overflow: hidden;
	white-space: nowrap;
}
#product .container {
	width: 1080px;
	height: 1030px;
	overflow-y: auto;

	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
#product .container .item {
	display: inline;
	float: left;
	width: 300px;
	height: 350px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
	margin: 10px;
}
#product .container .item .item-image {
	padding-top: 15px;
	height: 240px;
}
#product .container .item .description {
	padding-top: 5px;
	height: 80px;
}
#product .container .item .description .name {
	font-size: 16px;
	font-weight: 700;
	color: #303336;
	position: relative;
	text-align: right;
	right: 10px;
}
#product .container .item .description .price {
	font-weight: 500;
	color: #7b8591;
	text-align: right;
	position: relative;
	right: 18px;
}

/*
 
Bottom(Cart) Part
 
*/


#cart {
	width: 1080px;
	height: 410px;

	bottom: 0px;
	font-size: 26px;
}
#cart .cart-top {
	height: 66px;
	background-color: #9dc7c8;
}
#cart .cart-top .cancel-button {
	border: 0px;
	background-color: #f0f3f4;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .16);
	width: 180px;
	height: 50px;

	text-align: center;
	font-size: 26px;
	font-weight: 500;
	color: #000000;

	position: absolute;
	top: 1518px;
	left: 840px;
}
#cart .body {
	background-color: #e4e7e8;
	width: 1080px;
	height: 344px;
}
#cart .body .purchase-button {
	border: 0px;
	background-color: #519d9e;
	border-radius: 10px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, .16);
	width: 180px;
	height: 275px;

	text-align: center;
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;

	position: absolute;
	top: 1608px;
	left: 840px;
}

.quickview {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flew;
    align-items: center;
    justify-content: center;
}
